@charset "utf-8";
/* v1.0 | 20080212 */

html,
body,
div,
p,
a,
span,
ul,
ol,
li,
tr {
  font-size: 14px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
figure,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 62.5%;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */

:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */

a,
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media only screen and (min-device-width: 320px)and (-webkit-min-device-pixel-ratio: 2) {
  //针对iPhone 4, 5c,5s, 所有iPhone6的放大模式，个别iPhone6的标准模式<br>　　html{<br>　　　　font-size:10px;<br>　　}
}

@media only screen and (min-device-width: 375px)and (-webkit-min-device-pixel-ratio: 2) {
  //针对大多数iPhone6的标准模式<br>　　html{<br>　　　　font-size:12px;<br>　　}
}

@media only screen and (min-device-width: 375px)and (-webkit-min-device-pixel-ratio: 3) {
  //针对所有iPhone6+的放大模式<br>　　html{<br>　　　　font-size:16px;<br>　　}
}

@media only screen and (min-device-width:412px) and (-webkit-min-device-pixel-ratio: 3) {
  //针对所有iPhone6+的标准模式,414px写为412px是由于三星Nexus 6为412px，可一并处理<br>　　html{<br>　　　　font-size:20px;<br>　　}
}
