//
// COLOR
//
$green-first-color: #2a803e;
$green-second-color: #54aa47;
$grey-first-color: #9b9b9b;
$grey-second-color: #c2c2c2;
$grey-third-color: #f3f3f3;
$black-first-color: #292929;
$black-second-color: #6c6e70;

//
// FONT COLOR
//
$font-black: #000000;
$font-grey-light: #c2c2c2;
$font-grey: #9b9b9b;
$font-white: #ffffff;
